{% extends 'admin/adminBase.html.twig' %}

{% block main %}

    {% include 'messages/flashMessagesTemplate.html.twig' %}

    <div class="mainEdit">

        <div class="titleH">
            <h2>Edytuj maina</h2>
        </div>

        {% set index = 1 %}
        {% for main in mains %}

            <div class="skill">

                <div class="data">

                    <p><strong>Id: </strong> {{ main.id }}</p>
                    <p><strong>Nazwa: </strong> {{ main.name }}</p>
                    <p><strong>Tytuł: </strong> {{ main.title }}</p>

                </div>

                <div class="porDelBut">
                    <a href="{{ path('mainEdit', {'id': main.id}) }}"><img src="{{ asset('images/edit.png') }}" height="27" width="27"></a>
                </div>

                <div class="drpBut">
                    <a id="dropdownButtonMain"><img src="{{ asset('images/down.png') }}" height="27" width="27"></a>
                </div>

            </div>

            <div id="mainDropdown" class="dropdownContent">
                <div class="picture">

                    <div class="data">
                        <img src="{{ asset('images/'~main.picture) }}" height="250" width="250">
                    </div>

                </div>
            </div>

            {% set index = index + 1 %}

        {% endfor %}

    </div>

    <script>

        /* Creating variables with id's */
        let button = document.getElementById("dropdownButtonMain");
        let dropdown = document.getElementById("mainDropdown");

        /* If elements exist, adding event listener */
        if(button && dropdown){
            button.addEventListener('click', () => {
                dropdown.classList.toggle("show");
            })
        }

    </script>

    <div class="aboutEdit">

        <div class="titleH">
            <h2>Edytuj opis</h2>

        </div>

        {% set index = 1 %}
        {% for about in abouts %}

            <div class="skill">

                <div class="data">

                    <p><strong>Id: </strong> {{ about.id }}</p>
                    <p><strong>Opis: </strong> {{ about.description }}</p>

                </div>

                <div class="porDelBut">
                    <a href="{{ path('aboutEdit', {'id': about.id}) }}"><img src="{{ asset('images/edit.png') }}" height="27" width="27"></a>
                </div>

            </div>

            {% set index = index + 1 %}

        {% endfor %}

    </div>

    <div class="skillsEdit">

        <div class="titleH">
            <h2>Edytuj umiejętności</h2>
        </div>

        {% set index = 1 %}
        {% for skill in skills %}

            <div class="skill">

                <div class="data">
                    <p><strong>Id: </strong> {{ skill.id }}</p>
                    <p><strong>Kategoria: </strong> {% if skill.category == 1 %}Miękkie{% else %}Twarde{% endif %}</p>
                    <p><strong>Nazwa: </strong> {{ skill.name }}</p>
                    <p><strong>Wartość procentowa: </strong> {{ skill.percentage }}%</p>
                </div>

                <div class="delBut">
                    <a href="{{ path('skillEdit', {'id': skill.id}) }}"><img src="{{ asset('images/edit.png') }}" height="27" width="27"></a>
                </div>

            </div>

            {% set index = index + 1 %}

        {% endfor %}

    </div>

    <div class="porEdit">

        <div class="titleH">
            <h2>Edytuj projekty</h2>
        </div>

        {% set index = 1 %}
        {% for pro in pros %}

            <div class="skill">

                <div class="data">
                    <p><strong>Id: </strong> {{ pro.id }}</p>
                    <p><strong>Tytuł: </strong> {{ pro.mainTitle }}</p>
                    <p><strong>Link do strony: </strong> {{ pro.worldLink }}</p>
                    <p><strong>Link do githuba: </strong> {{ pro.githubLink }}</p>
                    <p><strong>Opis: </strong> {{ pro.description }}</p>
                    <p><strong>Stack: </strong> {{ pro.stack }}</p>
                </div>

                <div class="porDelBut">
                    <a href="{{ path('proEdit', {'id': pro.id}) }}"><img src="{{ asset('images/edit.png') }}" height="27" width="27"></a>
                </div>

                <div class="drpBut">
                    <a id="dropdownButton{{ pro.id }}"><img src="{{ asset('images/down.png') }}" height="27" width="27"></a>
                </div>

            </div>

            <div id="dropdown{{ pro.id }}" class="dropdownContent">
                {% set index = 1 %}
                {% for pic in pics %}

                    {% if pro.id == pic.portfolio.id %}

                        <div class="picture">

                            <div class="data">
                                <img {% if pic.pictureOrder == 1 %}style="border: 3px solid yellow"{% endif%} src="{{ asset('images/'~pic.picture) }}" height="200" width="400">
                            </div>

                            <div class="porDelBut">
                                {% if pic.pictureOrder != 1 %}<a href="{{ path('orderUp', {'id': pic.id}) }}"><img src="{{ asset('images/up.png') }}" height="27" width="27"></a>{%endif %}
                                <a href="{{ path('orderDown', {'id': pic.id}) }}"><img src="{{ asset('images/down.png') }}" height="27" width="27"></a>
                            </div>

                        </div>

                    {% endif %}

                    {% set index = index + 1 %}

                {% endfor %}

                {% set index = index + 1 %}
            </div>
        {% endfor %}

    </div>

    <script>
        /* Creating variable that counts existing elements with id */
        let count = 0;

        for(let i = 1; i <= 100; i++){

            /* Creating variables with id's */
            let button = document.getElementById("dropdownButton" + i);
            let dropdown = document.getElementById("dropdown" + i);

            /* Variable counting existing elements */
            if(button){
                count++;
            }

            /* If element exist, then recreating id of element and adding event listener */
            if(dropdown){
                button.removeAttribute('id');
                button. setAttribute("id", "dropdownButton" + count);

                dropdown.removeAttribute('id');
                dropdown.setAttribute("id", "dropdown" + count);

                button.addEventListener('click', () => {
                    dropdown.classList.toggle("show");
                })
            }

        }
    </script>

    <div class="expEdit">

        <div class="titleH">
            <h2>Edytuj doświadczenie</h2>
        </div>

        {% set index = 1 %}
        {% for exp in exps %}

            <div class="skill">

                <div class="data">
                    <p><strong>Id: </strong> {{ exp.id }}</p>
                    <p><strong>Kategoria: </strong> {% if exp.category == 1 %} Doświadczenie {% elseif exp.category == 2 %} Wykształcenie {% elseif exp.category == 3%} Certyfikaty {% else %} Projekty {% endif %}</p>
                    <p><strong>Tytuł: </strong> {{ exp.title }}</p>
                    <p><strong>Opis: </strong> {{ exp.description }}</p>
                    <p><strong>Data: </strong> {{ exp.date|date('d-M-Y') }}</p>
                </div>

                <div class="delBut">
                    <a href="{{ path('expEdit', {'id': exp.id}) }}"><img src="{{ asset('images/edit.png') }}" height="27" width="27"></a>
                </div>

            </div>

            {% set index = index + 1 %}

        {% endfor %}

    </div>

{% endblock %}